<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>

<head>
	<meta charset="UTF-8">
	<title>HyperFit</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

	<link id="switcher" href="css2/themes/default-theme.css" rel="stylesheet">

	<link href="css2/slick.css" rel="stylesheet"> <!-- No hace nada -->
	<link rel='stylesheet prefetch' href='css/photoswipe.css'>
	<link rel='stylesheet prefetch' href='css/default-skin.css'>
	
</head>

<body>

	<div id="preloader">
		<div id="status">&nbsp;</div>
	  </div>
	
	  <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
	
	
	  <!--=========== BEGIN HEADER SECTION ================-->
	  <header id="header">
		<!-- BEGIN MENU -->
		<div class="menu_area">
		  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
			  <div class="navbar-header">
				
				<!-- LOGO -->
				<!-- TEXT BASED LOGO -->
				<a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i>Hyper<span>Fit</span></a>
				<!-- IMG BASED LOGO  -->
				<!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
			  </div>
			  <div id="navbar" class="navbar-collapse collapse">
				<ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
				  <li class="active"><a href="index.html">Inicio</a></li>
				  <li><a href="./templates/dietas.html">Dietas</a></li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rutinas
					  <span class="fa fa-angle-down"></span></a>
					<ul class="dropdown-menu" role="menu">
					  <li><a href="./templates/rutinasEcto.html">Ectomorfo</a></li>
					  <li><a href="./templates/rutinaMeso.html">Mesomorfo</a></li>
					  <li><a href="./templates/rutinasEndo.html">Endomorfo</a></li>
					</ul>
				  </li>
				  <li><a href="#contacto">Contact</a></li>
				</ul>
			  </div>
			  <!--/.nav-collapse -->
			</div>
		  </nav>
		</div>
		<!-- END MENU -->
	  </header>
	  <!--=========== END HEADER SECTION ================-->
	
	<div id="body">
		
		<ul>
			<li>

				<h1>Ectomorfo</h1>
				<img src="images/img1.jpg">

				<h4>Desayunos</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>1 cucharada de suero de leche aislado en polvo</a>
					</li>

					<li>
						<a>1 taza de leche entera</a>
					</li>
					<li>
						<a>1 plátano grande</a>
					</li>
					<li>
						<a>¼ de taza de avena</a>
					</li>
					<li>
						<a>2 cucharaditas de mantequilla de maní</a>
					</li>
					<li>
						<a>Chocolate en polvo o sirope de chocolate al gusto</a>
					</li>
				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: entre 450 a 500</a>
					</li>
					<li>
						<a>Proteínas: 30 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 60 gramos</a>
					</li>
					<li>
						<a>Grasas: 20 gramos</a>


				</ul>

			</li>



			<li>


				<img src="images/Comida.jpg">

				<h4>Comida</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>150 gramos de pechuga de pollo sin piel</a>
					</li>

					<li>
						<a>1 taza de arroz integral</a>
					</li>
					<li>
						<a>1 de taza de ensalada verde</a>
					</li>
					<li>
						<a>una cucharada de mantequilla</a>
					</li>

				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: entre 470 y 500</a>
					</li>
					<li>
						<a>Proteínas: 40 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 75 gramos</a>
					</li>
					<li>
						<a>Grasas: 6 gramos</a>
				</ul>



			</li>



			<li>


				<img src="images/Cena.jpg">
				<h4>Cena</h4>

				<h4><i class="fas fa-comment-alt-dollar    "></i></h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>150 gramos de pechuga de pollo sin piel</a>
					</li>

					<li>
						<a>Puedes cambiar el pollo por una cantidad similar de atún</a>
					</li>
					<li>
						<a>1 de taza de arroz integral</a>
					</li>
					<li>
						<a>1 de taza de ensalada de vegetales verdes</a>
					</li>
					<li>
						<a>1 cucharada de mantequilla</a>
					</li>

				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: entre 450 y 480</a>
					</li>
					<li>
						<a>Proteínas: 40 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 60 gramos</a>
					</li>
					<li>
						<a>Grasas: 10 gramos</a>
				</ul>

			</li>

			<li>
				<img src="images/Snack.jpg">
				<h4>Snack</h4>

				<h4><i class="fas fa-comment-alt-dollar    "></i></h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>2 rebanadas de pan integral de trigo</a>
					</li>

					<li>
						<a>2 cucharaditas de mantequilla de maní</a>
					</li>
					<li>
						<a>1 cucharada de mermelada</a>
					</li>
					<li>
						<a>1 plátano grandes</a>
					</li>
				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: entre 500 y 530</a>
					</li>
					<li>
						<a>Proteínas: 15 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: entre 80 y 90 gramos</a>
					</li>
					<li>
						<a>Grasas: 15 gramos</a>
				</ul>



			</li>
















			<li>


				<h1>Endomorfo</h1>
				<img src="images/DesayunoEndo.jpg">

				<h4>Desayuno</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>Arroz hervido (blanco, grano corto) 90g 322 kcal</a>
					</li>

					<li>
						<a>Requesón de consistencia cremosa 100g 98 kcal</a>
					</li>
					<li>
						<a>Aceite de oliva 15g 135 kcal</a>
					</li>
					<li>
						<a>Pan de trigo 30g 79 kcal</a>
					</li>
				</ul>




			</li>



			<li>


				<img src="images/ComidaEndo.jpg">

				<h4>Comida</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>Frijoles secos 90g 279 kcal</a>
					</li>

					<li>
						<a>Pasta seca 90g 320 kcal</a>
					</li>
					<li>
						<a>Parmesano 10g 39 kcal</a>
					</li>
					<li>
						<a>Aceite de oliva 20g 135 kcal</a>
					</li>
					<li>
						<a>Pan de trigo 30g 79 kcal</a>
					</li>

				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías:</a>
					</li>
					<li>
						<a>Proteínas: </a>
					</li>
					<li>
						<a>Carbohidratos: </a>
					</li>
					<li>
						<a>Grasas: </a>
				</ul>



			</li>





			<li>


				<img src="images/CenaEndo.jpg">
				<h4>Cena</h4>

				<h4><i class="fas fa-comment-alt-dollar    "></i></h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>Chuleta de cerdo 200g 254 kcal</a>
					</li>

					<li>
						<a>Lechuga 200g 18 kcal</a>
					</li>
					<li>
						<a>Aceite de oliva 15g 135 kcal</a>
					</li>
					<li>
						<a>Pan de trigo 90g 239 kcal</a>
					</li>

				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: </a>
					</li>
					<li>
						<a>Proteínas:</a>
					</li>
					<li>
						<a>Carbohidratos:</a>
					</li>
					<li>
						<a>Grasas: </a>
				</ul>



			</li>





			<li>

				<h1>Mesomorfo</h1>
				<img src="images/Rutinas/DesayunoMeso.jpg">

				<h4>Desayunos</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>2 huevos enteros</a>
					</li>

					<li>
						<a>1 taza de leche entera</a>
					</li>
					<li>
						<a>1 taza de claras de huevo</a>
					</li>
					<li>
						<a>1 taza de avena</a>
					</li>
					<li>
						<a>1 taza de arándanos</a>
					</li>
					<li>
						<a>2 cucharadas de sirope de arce</a>
					</li>
				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: 595</a>
					</li>
					<li>
						<a>Proteínas: 40 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 75 gramos</a>
					</li>
					<li>
						<a>Grasas: 15 gramos</a>


				</ul>

			</li>



			<li>


				<img src="images/Rutinas/ComidaMeso.jpg">

				<h4>Comida</h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>6 oz de pechuga de pollo</a>
					</li>

					<li>
						<a>1 taza de brócoli al vapor picado</a>
					</li>
					<li>
						<a>1 taza de arroz integral de grano largo</a>
					</li>
				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: 419</a>
					</li>
					<li>
						<a>Proteínas: 45 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 45 gramos</a>
					</li>
					<li>
						<a>Grasas: 6.5 gramos</a>
				</ul>



			</li>



			<li>


				<img src="images/Rutinas/CenaMeso.jpg">
				<h4>Cena</h4>

				<h4><i class="fas fa-comment-alt-dollar    "></i></h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>Bistec de 6 oz</a>
					</li>

					<li>
						<a>1 camote mediano</a>
					</li>
					<li>
						<a>1 tajada de mantequilla</a>
					</li>
					<li>
						<a>15 espárragos</a>
					</li>
					<li>
						<a>1 taza de zanahorias en rodajas</a>
					</li>
					<li>
						<a>2 cucharadas de aceite de oliva extra virgen</a>
					</li>

				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: 676</a>
					</li>
					<li>
						<a>Proteínas: 60 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: 46 gramos</a>
					</li>
					<li>
						<a>Grasas: 28 gramos</a>
				</ul>

			</li>

			<li>
				<img src="images/Rutinas/SnackMeso.jpg">
				<h4>Snack</h4>

				<h4><i class="fas fa-comment-alt-dollar    "></i></h4>
				<p><b>Alimentos que puedes consumir:</b></p>
				<ul>
					<li>
						<a>2 rebanadas de pan integral de trigo</a>
					</li>

					<li>
						<a>2 cucharaditas de mantequilla de maní</a>
					</li>
					<li>
						<a>1 cucharada de mermelada</a>
					</li>
					<li>
						<a>1 plátano grandes</a>
					</li>
				</ul>


				<br>
				<p><b>Dato nutricional de esta comida:</b></p>
				<ul>
					<li>
						<a>Calorías: entre 500 y 530</a>
					</li>
					<li>
						<a>Proteínas: 15 gramos</a>
					</li>
					<li>
						<a>Carbohidratos: entre 80 y 90 gramos</a>
					</li>
					<li>
						<a>Grasas: 15 gramos</a>
				</ul>



			</li>





</body>

</html>